src/main/resources/schemas/shap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/calculator"
            xmlns:tns="http://example.com/calculator"
            elementFormDefault="qualified">

    <!-- Reusable positive double type with restriction -->
    <xsd:simpleType name="PositiveDouble">
        <xsd:restriction base="xsd:double">
            <xsd:minExclusive value="0"/> <!-- Prevent zero or negative -->
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Circle -->
    <xsd:element name="circleAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="radius" type="tns:PositiveDouble"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="circleAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="area" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Square -->
    <xsd:element name="squareAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="side" type="tns:PositiveDouble"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="squareAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="area" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Rectangle -->
    <xsd:element name="rectangleAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="length" type="tns:PositiveDouble"/>
                <xsd:element name="width" type="tns:PositiveDouble"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="rectangleAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="area" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Parallelogram -->
    <xsd:element name="parallelogramAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="base" type="tns:PositiveDouble"/>
                <xsd:element name="height" type="tns:PositiveDouble"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="parallelogramAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="area" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Triangle -->
    <xsd:element name="triangleAreaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="base" type="tns:PositiveDouble"/>
                <xsd:element name="height" type="tns:PositiveDouble"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="triangleAreaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="area" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>